body {
    margin: 0;
    background-color: lightgray;
    text-align: center;
    font-family: tahoma, serif;
}

h1 {
    font-size: 5.62rem;
    margin-top: 50px;
    font-family: 'Tangerine', cursive;
    line-height: 2;
  }

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
  }

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: normal;
}

.round {
    border-radius: 50%;
}

.musician {
    position: relative;
    left: 15px;
}

.programing {
    position: relative;
    top: 30px;
}


.top {
    background-color: #0595B5;
    margin: 5px;
    border: solid 10px;
    padding: 20px;
    position: relative;
    padding: 100px;
}

.middle {

}

.bottom {

}

.bottom-cloud {
    position: absolute;
    left: 200px;
}

.top-cloud {
    position: absolute;
    right: 280px;
    top: 50px;
}

.mountain {

}
